<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
<title>Isolator</title>
<link type="text/css" rel="stylesheet" href="@@SHAREDIR@@/style.css"/>

<link rel="alternate" type="application/rss+xml" 
   href="@@WEBROOT@@/software/isolator/releases.xml"
   title="New versions of Isolator (RSS)"/>
</head>
<body>

<h1>Isolator hidden preferences</h1>

<p><b>Do not ask me about these hidden preferences. They may change, or be
    broken, or put salt in your breakfast cereal.</b></p>
<p>
<table align="left">
<tr>
<td>HideOnMainScreenOnly</td>
<td>
0 -- Isolator affects all screens<br />
1 -- Isolator only affects the screen with the menu bar</td>
</tr>
<tr>
<td>AlternateHotkey</td>
<td>
A valid Cocoa key code
</tr>
<tr>
<td>AlternateHotkeyFlags</td>
<td>
Valid Cocoa key flags
</tr>
<tr>
<td>CustomFilter</td>
<td>
Name of a CoreImage filter
</tr>
<tr>
<td>CustomFilterOptionName</td>
<td>
Name of a CoreImage filter parameter
</tr>
<tr>
<td>CustomFilterOptionMultiplier</td>
<td>
Floating-point number
</tr>



</table>
</p>

@@STATCOUNTER@@

</body></html>
